<div class="app-container">
  <mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side">
      <h1>EOSH</h1>
      <mat-list>
        <mat-list-item>
          <a href="#" style="display: flex;">
            <mat-icon mat-list-icon >dashboard</mat-icon>
            <div>Dashboard</div>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a href="#" style="display: flex;">
            <mat-icon mat-list-icon >report</mat-icon>
            <div>Report</div>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a href="#" style="display: flex;">
            <mat-icon mat-list-icon >people_alt</mat-icon>
            <div>Users</div>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a href="#" style="display: flex;">
            <mat-icon mat-list-icon >settings</mat-icon>
            <div>Settings</div>
          </a>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-toolbar>
      <i class="example-spacer"></i>
      <span>Bell icon</span>
      <span>Avatar</span>
      <div>
        <p>Username</p>
        <p>Role</p>
      </div>
    </mat-toolbar>

    <div class="app-body">
      <router-outlet></router-outlet>
      <button (click)="sidenav.toggle()">CLick</button>
    </div>
  </mat-sidenav-container>
  <div></div>
</div>
